<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.storyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/story"
        android:label="@string/app_name"
        android:roundIcon="@drawable/story"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".UI.Activities.LocationUserActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".UI.MainActivity"/>
        <activity
            android:name=".UI.Activities.MapUserActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".UI.MainActivity"
            />
        <activity
            android:name=".UI.DetailListStoryActivity"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".UI.MainActivity"
            />
        <activity
            android:name=".UI.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.AddListStoryActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".UI.MainActivity"/>
        <activity
            android:name=".UI.ListStoryUserActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".UI.LoginUserActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.StoryApp.NoActionBar" />
        <activity
            android:name=".UI.RegisterUserActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.StoryApp.NoActionBar" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.storyapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/upload_file" />
        </provider>
    </application>

</manifest>